@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(30, 30, 30, 0.87);
  background-color: #dff0d8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  /* font-family: Montserrat; */
  /*Temporary, to change appearance of all current text*/
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #E25463;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
}

/*essentially for logo use only*/
h1 {
  font-family: Titan One;
  color: #79BD44;
}

/* big title text */
h2 {
  color: #A1DF51;
  font-family: Titan One;
  font-size: 3em;
  line-height: 1.1;
}

/* headers */
h3 {
  font-family: Viga;
  font-size: 1.6em;
  line-height: 1.1;
}

h3.green {
  color: #79BD44;
}

h3.white {
  color: #A1DF51;
}

h3.yellow {
  color: #F1BE0A;
}

/* normal body text */
p {
  font-family: Montserrat;
  font-size: 1.2em;
  line-height: 1.4;
}

p.green {
  color: #2B542C;
}

p.white {
  color: #666666;
}

p.yellow {
  color: #666666;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input { min-width: 0 }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
    display: none;
}


::-webkit-scrollbar-track {
    display: none;
}


::-webkit-scrollbar-thumb {
    display: none;
}


::-webkit-scrollbar-thumb:hover {
    display: none;
}